* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: StratosSkyeng;
  src: url("../fonts/stratosskyengweb-semilight.woff2") format("woff2"), url("../fonts/stratosskyengweb-semilight.woff") format("woff");
}
body {
  font-family: StratosSkyeng, sans-serif;
  background: #004980;
  font-weight: 400;
  font-style: normal;
}

.complexity {
  margin: 158px auto;
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  padding-top: 52px;
  text-align: center;
}
.complexity__title {
  margin: 0 auto;
  max-width: 208px;
  color: #004980;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
}
.complexity__levels {
  margin-top: 48px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
.complexity__levels input[type=radio] {
  display: none;
  width: 100%;
  height: 100%;
}
.complexity__level {
  width: 98px;
  height: 98px;
  background: #fff;
  border-radius: 12px;
  font-size: 64px;
  line-height: 72px;
  color: #0080c1;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.complexity__level:hover {
  transform: scale(1.07);
  cursor: pointer;
}
.complexity__button {
  margin-top: 67px;
}

button {
  width: 246px;
  height: 50px;
  background: #7ac100;
  font-family: StratosSkyeng, sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
  border: none;
  border-radius: 12px;
  transition: all 0.5s;
}
button:hover {
  background: rgba(122, 193, 0, 0.7);
}

.cards {
  padding: 22px 100px 0;
}
.cards__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cards__wrapper {
  margin-top: 35px;
  display: flex;
  gap: 13px;
  flex-wrap: wrap;
  justify-content: center;
}

.time {
  display: flex;
  flex-wrap: wrap;
  max-width: 155px;
}
.time__units {
  margin-left: 39px;
  font-size: 16px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #fff;
}
.time__units--sek {
  margin-left: 60px;
}
.time__value {
  display: flex;
  margin-top: -10px;
  font-size: 64px;
  line-height: 72px;
  color: #fff;
}

.card {
  max-width: 95px;
  height: 133px;
  background: #fff;
  border-radius: 4px;
}
.card__image {
  margin: 6px;
  background: #e4fbff;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  display: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
}
.modal__content {
  width: 480px;
  height: 459px;
  background: #c2f5ff;
  border-radius: 12px;
  margin: 158px auto;
  text-align: center;
}
.modal__image {
  margin-top: 32px;
  margin-bottom: 8px;
}
.modal__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #004980;
}
.modal__time {
  color: #000000;
  font-size: 64px;
  margin-bottom: 40px;
}
.modal__time-value {
  display: flex;
  justify-content: center;
}
.modal__text {
  font-weight: 700;
  margin-top: 28px;
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 32px;
  font-feature-settings: "pnum" on, "lnum" on;
}

@media (max-width: 1024px) {
  .cards {
    padding: 22px;
  }
  .cards__wrapper {
    justify-content: start;
  }
}
@media (max-width: 426px) {
  .complexity {
    width: 350px;
  }
  .complexity__level {
    width: 80px;
    height: 80px;
  }
  .cards__title {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */